body{ 
  font-family: 'Roboto', serif;
  margin:80px;
  font-size:28px;
  background:#ee5050;
  color:#1e1f24;
}
@media screen and (max-width: 916px){
  body{
    margin:80px 0px;
  }
  .logo{
    margin-bottom:40px;
    
  }

  .resume{
    margin:40px;
  }
}

.logo{
  width:180px;
  height:140px;
  border-radius:5px;
  background:#1e1f24;
 text-align:center; 
  margin-left:120px;
}
.logo h1{
  font-weight:900;
  color:#ffffff;
  margin:45px;
}
.resume{
  width:180px;
  height:100px;
  border-radius:5px;
  background:#1e1f24;
 text-align:center; 
  margin-left:80px;
}
.resume h3{
  font-size:24px;
  color:#ffffff;
  margin-top:36px;
}
.resume:hover{
  opacity:0.8;
}
.resume:hover a{
  color:#ee5050;
}
.banner{
   margin-left:120px;
}
.lead{
  opacity:0.6;
  margin:16px 0;
  margin-bottom:8px;
  
}
.heading{
  font-weight:800;
  font-size:60px;
  opacity:0.2;
  padding-bottom:160px;
  font-family:'open-sans',sans-serif;
}
b{
  font-weight:700;
}
.social{
  
  opacity:0.6;
}
.social a{
  padding-right:20px;
  
}
.desc{
      padding-top: 100px;
    padding-left: 120px;
  
}
.title{
  opacity:0.4;
  font-size:14px;
}
.btn{
  width:160px;
  height:60px;
  border:none;
  background:#1e1f24;
border-radius:5px;
  margin-top:15px;
  transition:all ease-in 2s;
}
.btn:hover{
  opacity:0.8;
}
.btn:hover a{
  color:#ee5050;
}
a{
  color:#ffffff;
  font-size:18px;
  font-family:'Roboto', serif;
}
a:hover{
  text-decoration:none;
}
.contact{
  margin-top: -160px;
  padding-left:120px;
}
